<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我是后台</title>
	<link rel="stylesheet" type="text/css" href="/admin/css/login.css">
</head>
<body>
	<div id="login">
		<form action="{:url('admin/index/login')}" method="POST">
			<table>
				<tr>
					<td id="logo"><img src="/admin/images/logo.png"></td>
					<td></td>
				</tr>
				
				<tr>
					<td class="txt">登录名：</td>
					<td class="input">
						<input type="text" name="username">
					</td>
				</tr>
				<tr>
					<td class="txt">密码：</td>
					<td class="input">
						<input type="password" name="password">
					</td>
				</tr>
				<tr>
					<td class="txt">验证码：</td>
					<td class="input">
						<input type="text" name="valicate" class="validate"><img src="{:captcha_src()}" class="yz" alt="captcha" onclick='this.src="{:captcha_src()}?rand="+Math.random()'>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="submit" name="submit" value="登录后台" id="submit">
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>