<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ZLMAX安装</title>
	<link rel="stylesheet" href="/install/css/theme.min.css">
	<link rel="stylesheet"  href="/install/css/install.css">
	<style type="text/css">
		table{
			text-align: center;
		}
		table tr td.td2{
			font-size: 15px;
		}
	</style>
</head>
<body>
	<div class="wrap">
		<div class="header">
			<h1 class="logo">安装向导</h1>
		</div>
		{block name='content'}{/block}
	</div>
	<div class="footer">
		&copy; 2016-{:date('Y')} <a style="color:red;text-decoration: none;">Z.L</a>
	</div>
</body>
</html>