<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ZLMAX安装</title>
	<link rel="stylesheet" href="/install/css/theme.min.css">
	<link rel="stylesheet"  href="/install/css/install.css">
	<link rel="stylesheet" type="text/css" href="/install/css/awesome-bootstrap-checkbox.css">
	<link rel="stylesheet" type="text/css" href="/install/css/oneui.css">
	<script type="text/javascript" src="/install/js/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="/install/js/install.js"></script>
</head>
<body>
	<div class="wrap">
		<div class="header">
			<h1 class="logo">安装向导</h1>
		</div>
		{block name='content'}{/block}
	</div>
	<div class="footer">
		&copy; 2016-{:date('Y')} <a style="color:red;text-decoration: none;">Z.L</a>
	</div>
</body>
</html>